.showMore1 {
  position: relative;
  line-height: 16px;
}
.iconBack {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bookingCards,
.showMore {
  align-self: stretch;
  display: flex;
}
.showMore {
  border-radius: var(--br-10xs);
  background-color: var(--color-cornflowerblue-300);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-3xs);
  gap: var(--gap-9xs);
  color: var(--color-cornflowerblue-100);
}
.bookingCards {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
