.results {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.26px;
  color: var(--color-lightslategray);
}
.japanIcon {
  height: 46px;
  width: 34.8px;
  position: relative;
  transform: scale(0.8);
}
.singaporeAirlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airlineSection {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.am,
.sin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.am {
  width: 100%;
  top: 0;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sin {
  width: 79.46%;
  top: 63.46%;
  font-size: var(--font-size-base);
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
}
.departureDetails {
  width: 93px;
  position: relative;
  height: 52px;
}
.flighticon {
  position: absolute;
  height: 27.45%;
  width: 88.51%;
  top: 0;
  right: 5.54%;
  bottom: 72.55%;
  left: 5.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.h55mNonStop {
  position: absolute;
  top: 65.45%;
  left: 0;
  letter-spacing: 0.21px;
}
.flightduration,
.sin1 {
  font-size: var(--font-size-base);
}
.flightduration {
  width: 121px;
  position: relative;
  height: 55px;
  text-align: center;
  color: var(--color-gray-100);
}
.sin1 {
  position: absolute;
  width: 81.21%;
  top: 63.46%;
  left: 17.69%;
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
  display: inline-block;
}
.arrivalDetails {
  width: 91px;
  position: relative;
  height: 52px;
  text-align: right;
}
.flightDetailsSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-100);
}
.priceSectionChild {
  width: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
}
.s730 {
  height: 28px;
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
  display: inline-block;
}
.flightCard,
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection {
  width: 128px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-100);
}
.flightCard {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--color-lightgray);
  padding: 0 var(--padding-7xs) 0 var(--padding-6xl);
  gap: var(--gap-31xl);
}
.primaryButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue-100);
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 81.5px);
  letter-spacing: 0.04em;
  font-weight: 500;
}
.primaryButton {
  width: 220px;
  position: relative;
  height: 72px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-contrast);
}
.flightCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1100px) {
  .airlineSection {
    flex-direction: column;
  }
  .flightCards {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 650px) {
  .airlineSection {
    flex-direction: row;
    width: 100% !important;
  }
  .flightduration {
    transform: scale(0.9);
  }
  .flightDetailsSection {
    flex: unset;
    align-self: stretch;
  }
  .priceSectionChild {
    display: none;
  }
  .flightCard {
    flex-direction: column;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .am,
  .sin {
    font-size: var(--font-size-base);
  }
  .departureDetails {
    width: 80px;
  }
  .h55mNonStop {
    font-size: var(--font-size-smi);
  }
  .sin1 {
    font-size: var(--font-size-base);
  }
  .arrivalDetails {
    width: 80px;
  }
}
